free-workflows/telegram-keyword-auto-reply.json
{
  "name": "Telegram Auto Reply - Keyword Bot",
  "nodes": [
    {
      "parameters": {
        "authentication": "telegramApi",
        "updates": ["message"]
      },
      "id": "1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "key": "={{ $json.message.text }}",
              "operation": "contains",
              "value": "hello"
            }
          ]
        }
      },
      "id": "2",
      "name": "IF Hello",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Hello! How can I help you today?"
      },
      "id": "3",
      "name": "Reply Hello",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Got your message! One moment..."
      },
      "id": "4",
      "name": "Reply Default",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 400],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "IF Hello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Hello": {
      "main": [
        [
          {
            "node": "Reply Hello",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
